<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <!-- Internet is used to connect to local and remote rtl_tcp instances -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for the AnalyzerService -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".RFAnalyzerApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FileOpenActivity"
            android:exported="true"
            android:launchMode="standard"
            android:taskAffinity="com.mantz_it.rfanalyzer"
            android:theme="@style/AppTheme"
            android:noHistory="true"> <!-- prevents it from staying in the stack -->

            <intent-filter>
                <!-- Filter for binary files (filter on extension is not possible unfortunately) -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <service
            android:name=".analyzer.AnalyzerService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpaths" />
        </provider>


    </application>

</manifest>
