<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mantz_it.rfanalyzer" >

    <!-- Read external storage is used for the FileSource -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Write external storage is used to write recordings and log files to the SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Internet is used to connect to local and remote rtl_tcp instances -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GPS is used for mapping signal strength -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Declare permissions to read and write the bookmarks database -->
    <permission android:name="com.mantz_it.rfanalyzer.permission.READ_BOOKMARKS"
                android:label="Read access to the bookmarks of RF Analyzer" />
    <permission android:name="com.mantz_it.rfanalyzer.permission.WRITE_BOOKMARKS"
                android:label="Write access to the bookmarks of RF Analyzer" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <provider
            android:name=".BookmarksProvider"
            android:authorities="com.mantz_it.rfanalyzer.provider"
            android:readPermission="com.mantz_it.rfanalyzer.permission.READ_BOOKMARKS"
            android:writePermission="com.mantz_it.rfanalyzer.permission.WRITE_BOOKMARKS">
        </provider>
    </application>

</manifest>
